{
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "airbnb"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "react/function-component-definition": "off",
    "camelcase": "off",
    "object-curly-newline": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/react-in-jsx-scope": "off", // react 17
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "prefer-const": "error",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "[I]\\w+"
      }
    ],
    "react/no-array-index-key": "warn",
    "react/destructuring-assignment": "off",
    "no-nested-ternary": "warn",
    "react/no-unused-prop-types": "warn",
    "import/no-cycle": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "max-len": [
      "warn",
      {
        "code": 150
      }
    ],
    "react/jsx-max-props-per-line": [
      0,
      {
        "when": "always"
      }
    ],
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [
          ">",
          "}"
        ]
      }
    ],
    "linebreak-style": "off", // LF or CRLF
    "semi": [
      "error",
      "never"
    ],
    "comma-dangle": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}